nav {
    padding: 20px;
}
nav ul{
    text-align: center;
}
nav li {
    padding: 0px 0px;
    font-size: 20px;
    display: inline;
}
nav a{
    padding:10px;
    color: #000000;
}

.current{
    text-decoration: underline;
    font-weight: bold;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
.skip{
    position: absolute;
    top:-40px;
}
.skip a:focus {
    position:relative;
    top: 60px;
}

nav a{ 
    text-decoration: none; 
}


h1{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: #000000;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 25px;
    text-decoration: underline;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 20px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
ul{
    list-style-position: inside;
    margin: 30px;
}
ol{
    list-style-position: inside;
    margin: 30px;
}


/* PETS CSS */

.pet_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.pet_item1{
    text-align: center;
    padding: 10px;
    grid-area: 1/1/span 1 / span all;
    overflow: hidden;
}
.pet_item1 h2{
    padding: 10px;
    margin: 10px;
}
.pet_item2 {
    padding: 10px 10px;
    margin: auto auto;
    grid-area: 2/1/span 1 / span all;
}
.pet_item3 {
    text-align: center;
    padding: 10px;
    grid-area: 3/1/span 1 / span all;
}
.pet_item4{
    grid-area: 4/1/span 1 / span 1;
}
.pet_item5{
    grid-area: 4/2/span 1 / span 1;
}
.pet_item6{
    grid-area: 5/1/span 1 / span 1;
}
.pet_item7{
    grid-area: 5/2/span 1 / span 1;
}
.pet_item8{
    grid-area: 6/1/span 1 / span all;
}
.pet_item8 h3{
    padding: 10px;
}
.pet_container img{
    object-fit: cover;
    max-height: 200px;
    min-height: 200px;
}
.pet_item1 img{
    max-height: 300px;
    min-height: 100%;
}
.pet_container video{
    max-height: 200px;
}
div.pet_container {
    border: solid #000000;
}
div.pet_item1,.pet_item2,.pet_item3,.pet_item4,.pet_item5,.pet_item6,.pet_item7,.pet_item8 {
    border: solid #e51b1b;
}

/* TRAVEL CSS */
div.travel_container{
    border: solid #000000;
}
div.travel_item1,.travel_item2,.travel_item3,.travel_item4,.travel_item5,.travel_item6,.travel_item7,.travel_item8,.travel_item9,.travel_item10{
    border: solid #e51b1b;
}

#maintravel img,video{
    object-fit: cover;
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
}

.travel_container{
display:grid;
grid-template-columns: 1fr 1fr;
column-gap: 10px;
row-gap: 10px;
justify-content: stretch;
justify-items:stretch;
margin: auto;
}

.travel_item1{
    grid-area: 1/1/span 1/span all;
    text-align: center;
}
.travel_item2{
    grid-area: 2/1/span 1/span 1;
}
.travel_item3{
    grid-area: 2/2/span 1/span 1;
}
.travel_item4{
    grid-area: 3/1/span 1/span all;
    margin: inherit;
}
.travel_item5{
    grid-area: 4/1/span 1/span all;
    text-align:center;
}

.travel_grid{
    display: grid;
    grid-area: 5/1/span all/span all;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    border: solid slateblue 5px;
    row-gap:10px;
    column-gap:10px;
    justify-items:center;
    justify-content: center;

}
.travel_grid_top{
    display: grid;
    grid-area: 2/1/span 1/span all;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    border: solid slateblue 5px;
    row-gap:10px;
    column-gap:10px;
    justify-items: center;
    justify-content: center;

}
.travel_grid img{
    object-fit: cover;
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
}


figcaption{
    max-width: 200px;
    margin:inherit;
    font-size: 10px;
}



/* Recipes CSS */

.recipe_container{
    border:#000000 2px solid;
}

.recipe_item1,.recipe_item2,.recipe_item3,.recipe_item4,.recipe_item5,.recipe_item6,.recipe_item7,.recipe_item8,.recipe_item9,.recipe_item10{
    border: #e51b1b 2px solid;
}

.recipe_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.recipe_item1{
    grid-area: 1/1/1/span all;
    text-align: center;
}
.recipe_item2{
    grid-area: 2/1/span 1/span all;
    margin-left:auto;
    margin-right:auto;
}
.recipe_item3{
    grid-area: 3/1/span 1/span all;
    margin: 0 auto;
}
.recipe_item4{
    grid-area: 4/1/span 1/span all;
    padding: 0 30%;
}
.recipe_item5{
    grid-area: 5/1/span 1/span 1;
    text-align: center;
}
.recipe_item6{
    grid-area: 6/1/span 1/span 1;
}
.recipe_item7{
    grid-area: 5/2/span 1/span 1;
    text-align: center;
}
.recipe_item8{
    grid-area: 6/2/span 1/span 1;
}
.recipe_item9{
    grid-area: 7/1/span 1/span all;
    text-align: center;
}
.recipe_item10{
    grid-area: 8/1/span 1/span all;
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    border: solid slateblue 5px;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    justify-content: center;
}

.recipe_item10 img{
    border: solid #e51b1b 2px;
    object-fit: cover;
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.recipe_item3 img{
    object-fit: cover;
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
}

@media screen and (prefers-reduced-motion: reduce){
    .skip a{
        -webkit-transition: none; /* sets to default setting */
        transition: none;        /* sets to default setting */
       }
    .travel_item2{
        visibility: hidden;
        position: fixed;
    }
    .GIF{
        visibility: hidden;
    }
    .travel_item3{
        grid-area: 1/1/span 1/span all;
    }
}